body{
  margin :0px;
  /* background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  background-color: #39ABBC;
}

img{
  height: inherit;
}
.topnav {
overflow: hidden;
background-color: white;
height: 50px;

}
.topnav .logo{
float: left;
color: #f2f2f2;
text-align: center;

}

.wrapper {
  margin: auto;
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: #444;
  width: 85%
}

.topnav h1{
color: BLACK;
text-align: center;
float: right;
margin: auto;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 9vw;
  font-size: 2vw;
  width: 100%;
  border-radius: 3vw;
  border: 0px;
  box-shadow: #444;
}

.box:hover{
  filter: contrast(120%);
  filter: brightness(120%);
  cursor: pointer;

}

#button_1 {
  background-color: #388E3C;
}

#button_2 {
  background-color: #d32f2f
}

#button_3 {
  background-color: grey
}

#button_4 {
  background-color: #303f9f
}

#button_5 {
  background-color: #ffa000;
}